.slider {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 24px;
    color: #dfdfdf;
    font-size: 13px;
    line-height: 24px;
    filter: drop-shadow(-1px -1px #000) drop-shadow(1px 1px #000) drop-shadow(-1px 1px #000) drop-shadow(1px -1px #000);
}

.label {
    position: absolute;
    top: 0;
    right: calc(100% + 4px);
}

.input {
    height: 16px;
}

.value {
    position: absolute;
    top: 0;
    left: calc(100% + 4px);
}
